
#titlename {
  padding-top: 2vw; /* Adjusted padding for better spacing */
  font-size: 8vw; /* Adjusted font size for mobile */
  font-family: 'Kdam Thmor Pro', sans-serif;
  text-align: center; /* Centered text */
  color: black;
}

#type {
  color: rgb(3, 3, 0);
}

#subtype {
  font-family: 'Kdam Thmor Pro', sans-serif;
  margin-top: 1vw; /* Adjusted margin for spacing */
  text-align: center; /* Centered text */
 
}

#about {
  width: 80%; /* Adjusted width for mobile */
  margin: 0 auto; /* Centered horizontally */
  color: rgb(0, 0, 0);
  text-align: center; /* Centered text */
}

#author {
  color: rgb(0, 0, 0);
  font-size: 4vw; /* Adjusted font size for mobile */
  text-align: center; /* Centered text */
  font-family: cursive;
}

/* Media query for mobile responsiveness */
@media (max-width: 768px) {
  section2::before {
    height: 100vw; /* Adjusted height for mobile */
  }

  #titlename {
    padding-top: 10vw; /* Increased padding for better spacing */
    font-size: 12vw; /* Increased font size for mobile */
  }

  #subtype {
    margin-top: 2vw; /* Increased margin for spacing */
  }

  #about {
    width: 90%; /* Adjusted width for smaller screens */
  }

  #author {
    font-size: 6vw; /* Increased font size for mobile */
  }
}


