/* CSS for centering the contact component */
.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
  }
  
  .contact {
    width: 23vw;
    text-align: center;
    border-radius: 3vw;
    border: 0.1vw solid white;
    transition: transform 0.3s ease; /* Smooth transform on hover */

  }
  
  .divide {
    background-color: white;
    height: 1vw;
  }
  
 

  
  /* Media query for mobile responsiveness */
  @media (max-width: 768px) {
    .contact-container {
      height: auto; /* Allow container to adjust height based on content */
      padding: 2vw; /* Add padding for spacing */
    }
  
    .contact {
      width: 80vw; /* Adjust width for mobile screens */
      max-width: 300px; /* Limit maximum width */
      margin-top: 10%;    }
  
    #titlenameud {
      font-size: 10vw; /* Adjust font size for smaller screens */
    }
  }
  