/* Existing CSS */
.dashboard {
  width: 23vw;
  float: left;
  text-align: center;
  display: inline;
  top: 2vw;
  border-radius: 5vw;
  border: 0.1vw solid white;
}

.divide {
  background-color: white;
  height: 1vw;
}



#shownote {
  border-radius: 3vw 3vw 0vw 0vw;
}

#addnote {
  border-radius: 0vw 0vw 3vw 3vw;
}

.greeting {
  float: right;
  font-size: 5vw;
  margin-right: 24.5vw;
  margin-top: 0vw;
}

.lastnote {
  float: right;
  width: 29vw;
  margin-right: 20vw;
  height: 1vw;
}

#lasttitle {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 2%;
}

#typednote {
  font-family: 'Nanum Gothic', sans-serif;
  width: 29vw;
  height: 28vw;
  box-sizing: border-box;
  overflow: scroll;
  font-weight: lighter;
  font-size: 1.7vw;
}

/* Container and column layout */
.dashcontainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: #ffffff;
}

.left-column {
  width: calc(50% - 1rem);
  padding: 0.5rem;
  box-sizing: border-box;
}

.right-column {
  width: calc(50% - 1rem);
  padding: 0.5rem;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .dashcontainer {
    flex-direction: column;
    align-items: center;
    padding: 0; 
  }

  .left-column, .right-column {
    width: 100%;
    margin: 0; /* Remove margins */
    padding: 0.5rem 0; /* Adjust padding to add space between columns */
  }

  .left-column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .right-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100%;
    margin-right: 8%;

  }

  .dashboard {
    width: auto;
    float: none;
    top: 0;
    margin-right: 8%;
    border-radius: 12vw;
  }

  .greeting, .lastnote, #typednote {
    float: none;
    width: 80vw;
    margin-right: 0;
    text-align: center;
  }

  #typednote {
    height: auto;
    font-size:4vw;
  }
}
