/* Ensure the container takes up the full viewport height */
/* Reset default margin and padding */

.homecontainer {
  display: flex;
  justify-content: center;
  align-items: center; /* Center items vertically */
  height: 100vh; /* Full height to center vertically */
  width: 100vw; /* Full width to center horizontally */
  background-color: #ffffff; /* Example background color */
  margin-right:30%;


  
}

.homelogin {
  margin-left:0px;
  background-color: #000000;
  color: white;
  width: 23vw;
    text-align: center;
    text-align: center;
    display: inline;
    top: 5vw;
  text-align: center;
    display: inline;
    top: 5vw;
  border-radius: 3vw;
  border: 0.1vw solid rgb(255, 57, 57);
  transition: transform 0.3s ease; /* Smooth transform on hover */
  margin-right:15%;

}

.divide {
  background-color: white;
  height: 0.5vw;
}

.homelogin:hover {
  transform: scale(1.01);
  border-radius: 3vw; 
}

#signup:hover {
  background-color: rgb(40, 40, 40);
  border-radius: 3vw 3vw 0vw 0vw;
}

#login:hover {
  background-color: rgb(40, 40, 40);
  border-radius: 0vw 0vw 3vw 3vw;
}


.fa-brands {
  color: white;
  transform: scale(3);
}

.fa-brands:hover {
  color: rgb(203, 203, 203);
}

@media (max-width: 580px) {


  .homelogin {
    width: 80vw;
    margin: 2vw auto; /* Center horizontally and add top margin */
    border-radius: 8vw;
    margin-right:12%;

  }


    #subtype {
        margin-left: 0;
        text-align: center;
        font-size: 6vw;
    }

  .fa-brands {
    transform: scale(1.5);
  }

  .divide {
    height: 3vw;
  }

  .homelogin:hover {
    border-radius: 8vw; /* Ensure border-radius remains the same on hover */
  }

  #signup:hover {
    background-color: rgb(31, 31, 31);
    border-radius: 8vw 8vw 0vw 0vw;
  }
  
  #login:hover {
    background-color: rgb(27, 27, 27);
    border-radius: 0vw 0vw 8vw 8vw;
  }
}
