/* Ensure the container takes up the full viewport height */
/* Reset default margin and padding */

.homecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Center items vertically */
  height: 100vh;
  /* Full height to center vertically */
  width: 100vw;
  /* Full width to center horizontally */
  margin-right: 30%;



}

.homelogin {
  margin-left: 0px;
  width: 23vw;
  text-align: center;
  text-align: center;
  display: inline;
  top: 1vw;
  text-align: center;
  display: inline;
  top: 1vw;
  border-radius: 3vw;
  transition: transform 0.3s ease;
  /* Smooth transform on hover */
  margin-right: 15%;

}

.divide {
  background-color: white;
  height: 0.5vw;
}




.fa-brands {
  color: white;
  transform: scale(3);
}

.fa-brands:hover {
  color: rgb(203, 203, 203);
}

@media (max-width: 580px) {


  .homelogin {
    width: 80vw;
    margin: 1vw auto;
    /* Center horizontally and add top margin */
    border-radius: 8vw;
    margin-right: 12%;

  }


  #subtype {
    margin-left: 0;
    text-align: center;
    font-size: 6vw;
  }

  .fa-brands {
    transform: scale(1.5);
  }

  .divide {
    height: 3vw;
  }


}