
#noteitem{
    border-radius: 1vw;
}

  i{
    cursor: pointer;
  }
  #delete:hover{
    
    transform: scale(1.2);
    transition: all 0.2s;
  }
  #edit:hover{
    transform: scale(1.2);
    transition: all 0.2s;
  }

  
  #notetitle{
    background-color: rgb(54, 54, 54);
    padding: 0.3vw;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 1vw;
   
  }
  
  #noteitem{
      border: 0.1vw solid black;
      height: 15vw;
      overflow: auto;
      background-color: black;
    }
    ::-webkit-scrollbar {
      width: 0;
  }
    #noteitem:hover{
  box-shadow: 0.1vw 0.1vw 0.5vw rgb(0, 0, 0);
  transform: scale(1.03);
  background-color:  rgb(54, 54, 54);
  
  }

  tag{
    font-weight: bolder;
  }

  .modal-content{
    background-color: rgb(164, 164, 164);
  }
  