.signupform{
    width: 35% !important;
}

.signupcontainer{
    margin-left: 32% !important;  
}

@media (max-width: 768px) {
    .signupform{
        width: 100% !important;
    }
    
    .signupcontainer{
        margin-left: 0% !important;  
    }
}