.signupform{
    width: 35%;
}

.signupcontainer{
    margin-left: 32%;  
}

@media (max-width: 768px) {
    .signupform{
        width: 100%;
    }
    
    .signupcontainer{
        margin-left: 0%;  
    }
}