.userinfo {
  width: 23vw;
  text-align: center;
  border-radius: 3vw;
  border: 0.5vw solid rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.divide {
  background-color: white;
  height: 1vw;
}

@media (max-width: 768px) {
  .userinfo {
    width: 80vw;
    max-width: 95vw; /* Ensure it doesn't exceed screen width on very small devices */
    position: relative; /* Change to relative to allow it to flow in document flow */
    top: auto;
    left: auto;
    transform: none;
    margin: 10% auto; /* Adjust margin for centering */
  }
}
