
#navbar{

  font-family: 'Libre Baskerville', serif;
  font-size: small;
  color: white;
  
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', 
monospace;
}
body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  background-color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


